<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Natural Language Processing</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="url" type="url" name="url" value="" placeholder="Type in a URL...">
                    <input id="submit" type="submit" name="" value="submit" onclick="return handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section id="results">
                <h2><strong>API Response:</strong></h2>
                <ul>
                    <li>
                        <h3>Text Polarity:</h3>
                        <p id="polarity"></p>
                        <h4>Confidence: </h4>
                        <p id="polarity-confidence"></p>
                    </li>

                    <li>
                        <h3>Text Subjectivity:</h3>
                        <p id="subjectivity"></p>
                        <h4>Confidence: </h4>
                        <p id="subjectivity-confidence"></p>
                    </li>

                    <h3>Text Excerpt:</h3>
                    <p id="excpert"></p>
                </ul>
            </section>
        </main>

        <footer>
            <p>Hello, I'm a footer</p>
        </footer>

    </body>
</html>
