<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Natural Language Processing</title>
    </head>

    <body>

        <header>
            <a href="https://www.meaningcloud.com/developer/sentiment-analysis/doc" target="_blank"><img id="logo"/></a>
            <div id="date">
                date
            </div>
        </header>

        <main>
            <h1>MeaningCloud API</h1>
            <h2>~ Sentiment Analysis ~</h2>

                <div id="error"></div>

            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="text" name="input" value="" placeholder="Type in a URL...">
                    <input id="submit" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section id="results">
                <h2 id="response"><strong></strong></h2>
                    <div id="polarity"></div>
                    <div id="agreement"></div>
                    <div id="subjectivity"></div>
                    <div id="confidence"></div>
                    <div id="irony"></div>
                    <div id="text"></div>
            </section>
        </main>

        <footer>
            <p>Project by <a href="https://de.linkedin.com/in/tatjana-aha" target="_blank">Tatjana Aha</a></p>
        </footer>

        <script>
             // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
